<div class="footer">
  <div class="footer-copyright">
    Bonsoir. l'intelligence au service de la culture
  </div>
  <div class="footer-small">
     Nous écrire : contact@bonsoir.fr
  </div>

</div>
