<div class="gm-style-iw">
    <div data-small-event-id="<%= event.id %>" class="card card-small" style="background-image: linear-gradient(rgba(240,240,240,0.2), rgba(240,240,240,0.1)), url(<%= image_path event.ph_url %>);">
    </div>
</div>



