<div class="banner" >
  <div class="banner-title">
    <p>
      <span id="logo-typed-text" style= "color: white; font-size: 50px; font-family: 'Poiret One';"></span>
    </p>
    <br />
    <p>Chaque jour, notre sélection des 5 meilleures pièces de théatre, disponibles autour de vous.</p>
  </div>
  <div class="form-home-section">
    <%= render 'shared/search' %>
  </div>
  <div class="banner-arrow">

    <%= link_to root_path(anchor: 'information'), class: "link" do %>
    <i class="fas fa-caret-down"> </i>

  <%end%>

  </div>
</div>


<div class="information-section" id="information">
<div id="information" class="information-content">
  <h2 class="text-center">Pourquoi Bonsoir.?</h2>
  <div class="quality">
    Qualité : une sélection réduite de pièces de théâtre afin de vous aider à faire votre choix
  </div>

  <div class="availability">
    Disponibilité :temps réel
  </div>

  <div class="proximty">
    Proximité : géolocalisation
  </div>
</div>
</div>
