<div class="banner" id="home-top" >
  <div class="banner-title">

    <p >
      <span id="logo-typed-text" style= "color: white; font-size: 100px; font-family: 'Poiret One';"></span>
    </p>


    <p class="taglinehome">Chaque soir, notre sélection de 5 pièces de théâtre.
  </p>
    <br/>

  </div>
  <div class="form-home-section">
    <%= render 'shared/search' %>
  </div>


  <div class="banner-arrow-down">
<!--   <p style= "margin:0px;"></p> -->

    <%= link_to root_path(anchor: 'information'), class: "link" do %>
      <i class="fas fa-caret-down"> </i>
    <%end%>
  </div>
</div>


<div class="information-container" id="information">

  <div class="banner-arrow-up">
    <%= link_to root_path(anchor: 'home-top'), class: "link" do %>
    <i class="fas fa-caret-up" style="color: $black;"> </i>
  <%end%>
    <!-- <p style= "margin:0px; color: $black;"></p> -->
  </div>

  <!--     <h1>Pourquoi nous ?</h1> -->

    <h2>Bonsoir : la promesse d'une soirée réussie</h2>
  <div class="information-section">
    <div class="information-content">
      <div class="information-icon">
        <i class="fas fa-thumbs-up"></i></div>
      <h4>Qualité</h4>
      <p>Une sélection des 5 pièces les mieux notées pour faciliter votre choix</p>
    </div>

    <div class="information-content">
      <div class="information-icon">
        <i class="fas fa-calendar-check"></i></div>
      <h4>Disponibilité</h4>
      <p>Une recherche en temps réel pour éliminer les spectacles déjà complets</p>
    </div>

    <div class="information-content">
      <div class="information-icon">
        <i class="fas fa-map-marker-alt"></i></div>
      <h4>Proximité</h4>
      <p>Une option de géolocalisation pour trouver les théâtres proches de vous</p>
    </div>
  </div>

  <br/>

  <div class="signature">
    <p style= "color: #82040E; font-size: 24px; font-family: 'Poiret One';">Bonsoir.</p>
  </div>

</div>




