/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  // padding: 15px;
  margin-bottom: 5px;
}
.alert-info {
  background: #040711;
}
.alert-warning {
  background: #040711;
  opacity: 0.5;
}
