
.alert {
  margin: 0;
  text-align: center;
  color: white;
  // padding: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: $black;
  // width: 50%;
  // position: absolute;
  left:25%;
  z-index:20;
  padding:10px;
}
.alert-info {
  margin-top: 20px;
  background: white;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  border-radius: 0px;
}
.alert-warning {
 margin-top: 20px;
  background: white;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  border-radius: 0px;
}

.close span{
    position: absolute;
    top: -2px;
    right: 30px;

}

// .alert.alert-info.alert-dismissible{
//   position:relative;
// }
