.banner-container{
position: relative;
min-height: 100vh;
}

.banner{
  position: absolute;
  top: 0;
  left: 0;
  z-index:10;
  width:100vw;
  height:100vh;
  background-image:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.2)),
    asset-url('bonsoir_home8.jpeg');
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  text-align: center;
  p{
    color:white;
  }
}

.banner-title{
  position: relative;
  bottom: 10%;
}


.search-banner{
  // display:flex;
  // align-items:center;
  // justify-content:center;
  display: flex;
  align-items:center;
  justify-content:center;
  height:180px;
  width:400px;
  margin-bottom:60px;
  padding: 0 40px;


.tagline {
  position: relative;
  bottom: -100px;
}
