.banner-container{
// position: relative;
min-height: 100vh;
}

.banner{
  position: relative;
  // top: 0;
  // left: 0;
  width:100vw;
  height:100vh;
  background-image:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.2)),
    asset-url('bonsoir_home8.jpeg');
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  text-align: center;
  p{
    color:white;
  }
}

.banner-title{
  position: absolute;
  top: 15vh;
}

.form-home-section{
  position: absolute;
  top: 50vh;
}
.search-banner{
  // display:flex;
  // align-items:center;
  // justify-content:center;
  display: flex;
  align-items: center;
  justify-content: center;
  // height:180px;
  width: 400px;
  margin-bottom: 60px;
  padding: 0 40px;
  height: calc(100vh - 80px);
  width: 100vw;
  background-image:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.2)),
    asset-url('bonsoir_home8.jpeg');
}

// .tagline {
//   position: relative;
//   bottom: -100px;
// }
.banner-arrow{
 font-size: 50px;
 position: absolute;
 bottom: 5px;
 opacity: 0.8;

}

.information-section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:20px;
  max-margin:50px;
}
