.banner-container{
position: relative;
min-height: 100vh;
}

.banner{
  position: relative;
  // top: 0;
  // left: 0;
  width:100vw;
  height:100vh;
  background-image:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.2)),
    asset-url('bonsoir_home8.jpeg');
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  text-align: center;
  p{
    color:white;
  }
}

.banner-title{
  position: absolute;
  top: 12vh;
}

.form-home-section{
  position: absolute;
  top: 45vh;
}
.search-banner{
  // display:flex;
  // align-items:center;
  // justify-content:center;
  display: flex;
  align-items: center;
  justify-content: center;
  // height:180px;
  width: 400px;
  margin-bottom: 60px;
  padding: 0 40px;
  height: calc(100vh - 80px);
  width: 100vw;
  background-image:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.2)),
    asset-url('bonsoir_home8.jpeg');
}

// .tagline {
//   position: relative;
//   bottom: -100px;
// }
.banner-arrow-down{
 // font-size: 50px;
 position: absolute;
 bottom: 1%;
 opacity: 0.8;
 align-items:center;

}

.banner-arrow-up{
 // font-size: 50px;

 opacity: 0.8;
 align-items:center;

}


.information-container{
  height: 80vh;
  // display: flex;
  text-align: center;
  // max-margin:50px;
  background-color: white;
}


.information-section {
  margin-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

.information-content {
  background-color: $light-gray;
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 22px -1px #dcdcdc;
  border-radius: 5px;
  padding: 16px 16px;
  margin: 3vh 1vw;
  border-left: 4px solid #82040E;
  border-right: 4px solid #82040E;


}

.information-icon {
  width: 18vw;
  margin-bottom: 15px;
  vertical-align: middle;
  border-style: none;
  font-size: 36px;
}
