.search-hidden{
  display: none;
}

.search-container{
  display: flex;
  align-items: center;
  justify-content: center;

}

// "Ce soir"

.form-control[readonly] {
  background-color: transparent;
}

.form-control {
    border-color: #f0f4f8 !important;
    outline: 0;
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(246, 247, 248, 0.6) !important;
    color: #999;
    border-radius: 0px !important;
  }
// Haut du calendrier

.flatpickr-calendar, .flatpickr-months .flatpickr-month {
  background: rgba(4,7,17,1);

}

// Corps du calendrier

.flatpickr-innerContainer {
  z-index: 30;
  background: rgba(4,7,17,1);
}

// Jours non disponibles

.flatpickr-day.disabled {
  color: white;
  background: none;
}

// tous les jours
.flatpickr-day, .flatpickr-day.nextMonthDay {
  background: grey;
  color: $black;
}
.flatpickr-day.nextMonthDay.disabled {
  background: rgba(4,7,17,1);
}

//jour-même

.flatpickr-day.today {
  border-color: white;
}

.flatpickr-day.today:hover, .flatpickr-day.today:focus {
  border-color: white;
}

//jour sélectionné

.flatpickr-day.selected, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover {
  background: white;
  color: $black;
  border-color: white;
}

// Ligne supérieure jours de la semaine

.flatpickr-weekday {
  color: white !important;
}

// Ligne supérieure mois

.flatpickr-month {
  color: white !important;
  font-weight: 100 !important;
}

.flatpickr-current-month span.cur-month {
  font-weight: normal !important;
}

// Ligne supérieure année

.numInput.cur-year {
  color: white !important;
}

// Flèches mois suivant et précédent

.flatpickr-next-month {
  fill: white !important;
}

.flatpickr-months .flatpickr-next-month:hover svg{
    fill: #f8f3f3;
}

.flatpickr-prev-month {
  fill: white !important;
}

.flatpickr-months .flatpickr-prev-month:hover svg{
    fill: #f8f3f3;
}

.flatpickr-input {
  color: white;
  font-size: 16px;
}


.form-control::placeholder {
    color: white;
    font-size: 16px;
  }

.form-control::value {
    color: white;
    font-size: 16px;
  }
