.card-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.card-border-white{
  background-color:white;
  // padding:10px;
  margin:30px 0;
  border-radius:2px;
  position:relative;
  height:500px;
  width:350px !important;
  // border: solid 1px black;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.22);
}

.card-border-white-small{
  background-color:white;
  // padding:10px;

  border-radius:2px;
  position:relative;
  height:500px;
  width:350px !important;
  // border: solid 1px black;
  border-right: 4px solid #82040E;
}

.slick-slide {
  // border-style: solid;
  // border-color: #040711;
  // border-width: 5px;
  opacity: 0.3;
}
.slick-slide.slick-active {
  display: flex;
  justify-content: center;
  align-items:center;
}
// .slick-slide.slick-cloned[data-slick-index='-1']{
//     display: flex;
//    justify-content: flex-end;
//  }
#slick-slide01, #slick-slide02, #slick-slide03, #slick-slide04,#slick-slide05{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 500px !important;
}
.slick-slide.slick-cloned{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 500px !important;
}
.slick-slide.slick-current.slick-active.slick-center{
  transform: scale(1.08);
  opacity: 1;
  display: flex;
  justify-content: center !important;
  align-items:center;
   // width: 400px !important;
}
.slick-initialized .slick-slide {
  display:flex;
  justify-content: center;
}
.slick-dots {
  padding-bottom: 10px;
}
.slick-dots li button:before {
  font-size: 10px;
  }
.slick-caroussel{
  width: 1100px;
  padding-bottom: 10px;
}
@media all and (max-width: 768px)
{
  .slick-caroussel{
    width: 500px;
    padding-bottom:5px;
}
.slick-list.draggable{
height: 560px;
width: 500px;
padding: 0px 0px !important;
}
.slick-dots {
  padding-bottom: 5px;
}
}
// .slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 300px; line-height: 1; color: #040711; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
// .slick-prev:before {
//   content: "‹"; }
// // [dir="rtl"] .slick-prev { right: -20px; }
// .slick-next:before { content: "›"; }
// .slick-prev:before {
//   color: #040711;
// }
// .slick-next:before {
//   color: #040711;
// }
// .fas.fa-angle-left, .fas.fa-angle-right {
//     font-size: 0;
//     line-height: 0;
//     position: absolute;
//     top: 50%;
//     display: block;
//     width: 20px;
//     height: 20px;
//     padding: 0;
//     -webkit-transform: translate(0, -50%);
//     transform: translate(0, -50%);
//     cursor: pointer;
//     color: transparent;
//     border: none;
//     outline: none;
//     background: transparent;
// }
.fas.fa-angle-left {
    position: absolute;
    left: -70px;
    top: 40%;
    font-size: 80px;
}
.fas.fa-angle-right {
    position: absolute;
    right: -70px;
    top: 40%;
    font-size: 80px;
}
.card {
  border-radius:2px;
  background-size: cover !important;
  background-position: top;
  box-shadow: 0px 0px 5px rgba(255,255,255,0.22);
  position:absolute;
  background-repeat: no-repeat;
  top:50px;
  left: 4%;
}
.card-hover {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  background: white;
  opacity: 0;
  z-index:10;
  transition: opacity 0.4s ease;
  padding: 0px;
  text-align:justify;
  border-top:solid 1px black;
  border-bottom:solid 1px black;
  height: 100%;
}

  .card-hover-small {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  border-top:solid 1px black;
  border-bottom:solid 1px black;

}
.card:hover .card-hover {
  opacity: 1;
  font-size:15px;
}
.card:hover .circle-white{
  // background-color: $light-gray;
}
.card:hover .card-description{
  // background-color: $light-gray;
  // box-shadow: 0px 0px 5px rgba(23, 29, 38,0.22);
}
.circle-white{
  // z-index:20;
  // border-radius:50%;
  // box-shadow: 0px 0px 5px rgba(23, 29, 38,0.22);
  // background-color:rgba(255, 255, 255, 1);
  color: rgb(23, 29, 38);
  // position:absolute;
  // top:15px;
  // left:10px;
  font-size:16px;
  // font-weight: bold;
  // height:60px;
  // width:60px;
  // text-align:left;
}
.small-p{
    font-size: 12px;
    font-style: normal;
  }
.event-details {
  padding: 10px;
  h3 {
    font-size: 18px;
    margin: 15px 0;
    text-align: center;
    color: #822020;
  }
}
// .card-description{
//   z-index:20;
//   border-radius:2px;
//   color: rgb(23, 29, 38);
//   height:40px;
//   width: 280px;
//   vertical-align: center;
//   text-align:right;
//   h2 {
//     font-size:16px;
//     padding:0;
//     margin:0;
//     font-weight: bold;
//   }
//   h3 {
//     font-size:14px;
//     padding:0;
//     margin:0;
//     font-weight: bold;
//   }
//   p {
//     font-size: 12px;
//     padding:0;
//     margin:0;
//   }
// }
.topcard-address{
  width: 250px;
  text-align:right;
  font-size: 16px
}

// .info-window {
//   height: 90px;
//   width: 30px;
// }


.gm-style-iw{
    max-width: 100px;
    max-height: 150px;
    display: flex;
    align-items: center;

}

.card-small {
  height: 150px;
  width: 95px;
  margin: -50px -2px;


  background-size: cover !important;
  h2 {
    font-size:12px;
    padding:0;
    margin:0;
  }
  p{
    font-size: 8px;
    padding:0;
    margin:0;
    font-family:$body-font;
  }
}
.card.card-big {
  height: 400px;
  width:92%;
}
a {
  font-family: $body-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: black;
}
a:hover {
    text-decoration: underline;
    color: black;
    opacity: 1;
}
.gm-style-iw {
  height: 270px;
  width: 200px !important;
}
.btn-primary{
  background: rgba(4,7,17,0.8);
  border-color: rgba(4,7,17,0.8);
  a {
    text-decoration:none !important;
    font-style:normal !important;
  }
}
.btn-primary:hover {
  background: rgba(4,7,17,1);
  border-color: rgba(4,7,17,0.8);
}
.links{
  position:absolute;
  bottom:-10px;
  left:10px;
}
.infos {
  position: absolute;
  bottom: 7px;
  right: 13px;
}
.topcard{
  display: flex;
  justify-content: space-around;
  font-size:16px;
  margin: 7px 2px 0px 5px;
}

.topcard-small{
  display: flex;
  justify-content: space-around;
  font-size:16px;
}

.btn.btn-primary{
  width:100%;
  height: 80%;
  font-size:14px;
  padding:5px;
  text-align: center;
}
.fas.fa-map-marker.btn-circle{
  font-size: 20px;
}
.fas.fa-share.btn-circle{
  font-size:20px;
  margin-left: -20px;
}
.card-map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 16px;
}

