.card {
  border-radius:2px;
  margin:30px 0;
  position:relative;
  background-size: cover !important;
  background-position: top;
  box-shadow: 0px 0px 5px rgba(255,255,255,0.22);

}

.card-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: 0;
  z-index:10;
  transition: opacity 0.4s ease;
  padding: 20px;
  text-align:justify;
}
.card:hover .card-hover {
  opacity: 1;
}
.card:hover .circle-white{
  background-color: $light-gray;
}
.card:hover .card-description{
  background-color: $light-gray;
}
.circle-white{
  z-index:20;
  border-radius:50%;
  box-shadow: 0px 0px 5px rgba(23, 29, 38,0.22);
  background-color:rgba(255, 255, 255, 0.9);
  color: rgb(23, 29, 38);
  position:absolute;
  top:-20px;
  right:-20px;
  font-size:14px;
  font-weight: bold;
  height:50px;
  width:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-description{
  z-index:20;
  box-shadow: 0px 0px 5px rgba(23, 29, 38,0.22);
  border-radius:2px;
  position: absolute;
  bottom:0;
  padding: 5px 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(23, 29, 38);
  width:100%;
  height:15%;
  vertical-align: center;

  h2 {
    font-size:18px;
    padding:0;
    margin:0;
    font-weight: bold;
  }
  h3 {
    font-size:14px;
    padding:0;
    margin:0;
    font-weight: bold;
  }
  p {
    font-size: 12px;
    padding:0;
    margin:0;
    font-weight: bold;
  }
}

.card-small {
  height: 270px;
  width: 200px;
  margin: 0px;
  background-size: cover !important;
  h2 {
    font-size:12px;
    padding:0;
    margin:0;
  }
  p{
    font-size: 8px;
    padding:0;
    margin:0;
  font-family: "Poiret One";
  }
}

.card-big {
  height: 75vh;
  width:350px;
}

a {
  font-family: "Poiret One";
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
    opacity: 1;
}


.gm-style-iw {
  height: 270px;
  width: 200px !important;
}


.btn-primary{
  background: rgba(4,7,17,0.8);
  border-color: rgba(4,7,17,0.8);
}


.btn-primary:hover {
  background: rgba(4,7,17,1);
  border-color: rgba(4,7,17,0.8);
}

