.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0px 50px;
  color: black;
  position: absolute;
  bottom:0 ; left: 0; right: 0;
  font-size: 16px;
  margin-top: 60px;
}
.footer-small {
  font-size: 12px;
}

.footer .fa-heart {
  color: white;
}

