.footer {
  position: absolute;
  bottom:0 ; left: 0; right: 0;

  height: 30px;
  background: #040711;
  margin-top: 60px;
  border-top: solid 1px white;
  padding: 0px 50px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  color: white;
  font-size: 16px;
  text-align: right;
  font-family: "Poiret One"

}
// .footer-small {
//   font-size: 12px;
// }

// .footer .fa-heart {
//   color: white;
// }

.empty {
  height: 20px;
}
