

.form-group.col-xs-10{

  padding: 8px 4px;
}

.form-group.col-xs-10.col-md-offset-0.col-md-2.btnhome{
 width: 65px;
}

.row.home {
  width: 750px;
}
// @media (max-width: 1000px) {

// }

@media all and (max-width: 768px)
{

.row.home {
  width: 90vw !important;
  }
}

@media (min-width: 950px) {
  .row.home .form-group:first-child {
    margin-left: 15px;
  }
}
